.header-container {
    position: fixed;
    height: 100px;
    width: 100%;
    /* background-color: grey; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.header-container nav {
    width: 225px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

#logo {
    color: rgb(42, 87, 164);
}

.header-container2 {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.header-container2 nav {
    width: 225px;
    display: flex;
    justify-content: space-around;
}