.App {
  text-align: center;
  height: 100vh;
  background-image: url("./Components/Landing/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-repeat: repeat-y;
  background-position: center;  */
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}
